/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

/* SELECT PARA FRENTE DO MODAL */
.cdk-overlay-container {
    position: fixed;
    z-index: 1100;
}

/* MODAL */
.modal-title {
    margin: 0 !important;
    line-height: 1.42857143 !important;
    font-size: 18px !important;
}

.modal-footer>button {
    margin-right: 8px;
}

/* TABLE */
table {
    width: 100%;
}

.mat-column-actions {
    width: 32px;
    text-align: center;
}

/* LOADING TABLE */
.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}