/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

/* SELECT PARA FRENTE DO MODAL */
.cdk-overlay-container {
    position: fixed;
    z-index: 1100;
}

.modal-title {
    margin: 0 !important;
    line-height: 1.42857143 !important;
    font-size: 18px !important;
}

.modal-footer>button {
    margin-right: 8px;
}

table {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}