<div class="title">Jogos P.C.L.J.</div>

<div class="row background">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 center">
        <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
            <iframe class="embed-responsive-item" allowfullscreen [src]="jogos.cores.url"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 center">
        <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
            <iframe class="embed-responsive-item" allowfullscreen [src]="jogos.memoria.url"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 center">
        <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
            <iframe class="embed-responsive-item" allowfullscreen [src]="jogos.letras.url"></iframe>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 center">
        <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
            <iframe class="embed-responsive-item" allowfullscreen [src]="jogos.matematica.url"></iframe>
        </div>
    </div>
</div>