<mat-card>
    <mat-card-header>
        <mat-card-title>Avatar</mat-card-title>
        <mat-card-subtitle>
            Altere seu avatar de apresentação
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        <div class="center">
            <avatar [options]="options"></avatar>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field>
                    <mat-label>Olhos</mat-label>
                    <mat-select [(ngModel)]="options.eyes">
                        <mat-option *ngFor="let item of eyes" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field>
                    <mat-label>Sobrancelha</mat-label>
                    <mat-select [(ngModel)]="options.eyebrow">
                        <mat-option *ngFor="let item of eyebrow" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field>
                    <mat-label>Boca</mat-label>
                    <mat-select [(ngModel)]="options.mouth">
                        <mat-option *ngFor="let item of mouth" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <mat-form-field>
                    <mat-label>Pele</mat-label>
                    <mat-select [(ngModel)]="options.skin">
                        <mat-option *ngFor="let item of skin" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Chapéu / Cabelo</mat-label>
                    <mat-select [(ngModel)]="options.top">
                        <mat-option *ngFor="let item of tops" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Acessório</mat-label>
                    <mat-select [(ngModel)]="options.accessories" [disabled]="options.top === (topsEnum.EYEPATCH)">
                        <mat-option *ngFor="let item of accessories" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Cor do cabelo</mat-label>
                    <mat-select [(ngModel)]="options.hairColor" [disabled]="disabledHairColour">
                        <mat-option *ngFor="let item of hairColor" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Cor do chapéu</mat-label>
                    <mat-select [(ngModel)]="options.hatColor">
                        <mat-option *ngFor="let item of hatColor" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Barba</mat-label>
                    <mat-select [(ngModel)]="options.facialHair" [disabled]="options.top === (topsEnum.HIJAB)">
                        <mat-option *ngFor="let item of facialHair" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Cor da barba</mat-label>
                    <mat-select [(ngModel)]="options.facialHairColor" [disabled]="options.top === (topsEnum.HIJAB)">
                        <mat-option *ngFor="let item of facialHairColor" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Roupa</mat-label>
                    <mat-select [(ngModel)]="options.clothes">
                        <mat-option *ngFor="let item of clothe" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Cor da roupa</mat-label>
                    <mat-select [(ngModel)]="options.clothColor" [disabled]="disabledColourFabric">
                        <mat-option *ngFor="let item of clothColor" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <mat-form-field>
                    <mat-label>Estampa</mat-label>
                    <mat-select [(ngModel)]="options.graphic"
                        [disabled]="options.clothes !== (clothesEnum.GRAPHIC_SHIRT)">
                        <mat-option *ngFor="let item of graphic" [value]="item.value">
                            {{item.translation}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="footer">
        <button mat-raised-button color="accent" type="submit" (click)="generateRandom()">
            Gerar Avatar Aleatório
        </button>
        <div>
            <button mat-raised-button (click)="download()">Baixar como imagem</button>
            <button mat-raised-button color="primary" (click)="download()">Salvar</button>
        </div>
    </mat-card-actions>
</mat-card>