<!-- 'https://picsum.photos/id/17/2500/1667',
'https://picsum.photos/id/18/2500/1667',
'https://picsum.photos/id/19/2500/1667' -->
<carrossel [imagens]="[
'assets/banner/Banner-1.jpg',
'assets/banner/Banner-2.jpg',
'assets/banner/Banner-3.jpg'
]"></carrossel>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <img src="assets/images/icones.png" style="width: 100%" />
        </div>
    </div>
    <div class="row" style="padding: 50px 0px;">
        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <p-carousel [value]="alunos" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="4000"
                [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                    <h5 class="title">Nossos criadores</h5>
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <a [routerLink]="['aluno',item.id]">
                        <div class="center">
                            <img [src]="montaUrlAvatar(item.id)" height="300px" />
                            <span>{{item.nome}}</span>
                        </div>
                    </a>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class="row" style="background-color: #f7f7f7; padding-bottom: 30px;">
        <div class="col-sm-12">
            <img src="assets/banner/Banner-4.jpg" style="width: 100%" />
        </div>
    </div>
    <div class="row" style="background-color: #f7f7f7;">
        <div class="col-sm-12">
            <h5 class="title">Trabalhos desenvolvidos no curso técnico</h5>
            <img src="assets/images/trabalhos.png" style="width: 100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="assets/images/footer.png" style="width: 100%" />
        </div>
    </div>
</div>