<!-- 'https://picsum.photos/id/17/2500/1667',
'https://picsum.photos/id/18/2500/1667',
'https://picsum.photos/id/19/2500/1667' -->
<carrossel [imagens]="[
'assets/banner/Banner-1.png',

]"></carrossel>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            Imagem
        </div>
        <div class="col-sm-6">
            4 Icones
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <p-carousel [value]="items" [numVisible]="5" [numScroll]="1" [circular]="true"
                [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                    <h5>Conheça nossos alunos</h5>
                </ng-template>
                <ng-template let-product pTemplate="item">
                    <div class="center">
                        <img src="assets/images/avatar.png" height="150px" />
                        <span>Gustavo Geissler Hovelacque</span>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            banner dos jogos
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <p-carousel [value]="items" [numVisible]="5" [numScroll]="1" [circular]="true"
                [autoplayInterval]="4000" [responsiveOptions]="responsiveOptions">
                <ng-template pTemplate="header">
                    <h5>Conheça nossos trabalhos desenvolvidos</h5>
                </ng-template>
                <ng-template let-product pTemplate="item">
                    <div class="center">
                        <img src="assets/images/avatar.png" height="150px" />
                        <span>Trabalho X</span>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            Informações
        </div>
    </div>
</div>