<div class="title">Histórico do projeto P.C.L.J.</div>

<div class="row background">
    <div class="col-lg-12 center">
        <p>
            No início do ano, durante uma conversa com a professora Debora de Andrade do 1º ano do ensino fundamental,
            ela expressou seu desejo de incorporar jogos como uma ferramenta no processo de alfabetização de seus
            alunos.
            Entendendo esta necessidade e com a proposta curricular da disciplina de Inovação Social Científica e
            Empreendedorismo,
            tive uma inspiração: criar uma empresa júnior envolvendo os estudantes do 1º ano EMTI.
            Esta iniciativa visava proporcionar uma aprendizagem prática no campo do empreendedorismo social,
            com ênfase na integração com a disciplina de lógica de programação. Como resultado, desenvolvemos jogos
            educativos.
        </p>
        <p>
            Durante esse processo, os alunos foram capazes de vivenciar as etapas necessárias para iniciar uma empresa.
            Eles participaram ativamente na criação de um logotipo e na escolha do nome da empresa:
        </p>
        <br>
        <div class="row background">
            <div class="col-lg-6 center">
                <img src="assets/images-site/Banner-1.png" width="100%">
            </div>
            <div class="col-lg-6 center">
                <img src="assets/images-site/Banner-1.png" width="100%">
            </div>
        </div>
        <br>
        <p>
            Estes foram os logos desenvolvidos:
        </p>
        <br>
        <div class="row background">
            <div class="col-lg-2 center" *ngFor="let url of logos">
                <img [src]="url" width="100%">
            </div>
        </div>
        <br>
        <p>
            Por meio de uma votação o logo feito em conjuto por Pedro e Marli foi selecionado.
            Fechamos uma parceiria com a empresa
            <a style="font-weight: bold;" href="https://calmadesign.com.br/">Calma Design</a>
            para o desenvolvimento do logo de forma digital, identidade visual e crição do layout desta plataforma
            assim nasceu nosso logo
        </p>
        <br>
        <div class="row background">
            <div class="col-lg-6 center">
                <img src="assets/images-site/Banner-1.png" width="100%">
            </div>
            <div class="col-lg-6 center">
                <img src="assets/fotos-pclj/logo-calma.png" width="100%">
            </div>
        </div>
        <br>
        <p>
            Em paralelo desenvolvemos e apresentamos dos protótipos
        </p>
        <br>
        <div class="row background">
            <div class="col-lg-6 center">
                <img src="assets/images-site/Banner-1.png" width="100%">
            </div>
            <div class="col-lg-6 center">
                <img src="assets/images-site/Banner-1.png" width="100%">
            </div>
        </div>
        <br>
        <p>
            Por fim começamos o desenvolvolvimento dos jogos
        </p>
        <br>
        <div class="row background">
            <div class="col-lg-2 center" *ngFor="let url of desenvolvimento">
                <img [src]="url" width="100%">
            </div>
        </div>
        <br>
        <p>
            Os alunos tiveram a oportunidade de perceber de forma concreta o impacto de suas ações no
            ambiente social imediato, ou seja, na própria escola.

            Os jogos desenvolvidos podem ser aprecisados clicando no botão logo abaixo. 😁
        </p>
        <button class="button-trabalho" routerLink="/jogos">
            Clique e conheça nossos jogos feitos com muito trabalho e amor
        </button>
    </div>
</div>