<div class="background" *ngIf="trabalho">
    <div class="titulo">
        <div class="button-trabalho" [ngStyle]="{'background-color': trabalho.cor}">
            {{trabalho.nome}}
        </div>
    </div>

    <div class="descricao">{{trabalho.descricao}}</div>

    <div class="row" style="margin-top: 10px;">
        <div *ngFor="let item of trabalho.alunos">
            <div class="center col-sm-12 col-md-6 col-lg-4">
                <a class="aluno" [routerLink]="['/aluno',item.id]">
                    <img [src]="montaUrlAvatar(item.id)" height="50px" />
                    <span>{{item.nome}}</span>
                </a>
                <load-scratch [url]="item.url" [image]="item.img" style="width: 100%;"></load-scratch>
            </div>
        </div>
    </div>

</div>