<div class="background" *ngIf="trabalho">
    <div class="titulo">
        <div class="button-trabalho" [ngStyle]="{'background-color': trabalho.cor}">
            {{trabalho.nome}}
        </div>
    </div>

    <div class="descricao">{{trabalho.descricao}}</div>

    <div class="row" style="margin-top: 10px;">
        <a *ngFor="let item of alunos" routerLink="/aluno/1">
            <div class="center col-sm-12 col-md-6 col-lg-4">
                <div class="aluno">
                    <img src="assets/images/avatar.png" height="50px" />
                    <span>Aluno X</span>
                </div>
                <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                        allowfullscreen></iframe>
                    <!-- <iframe class="embed-responsive-item" allowfullscreen 
                            src="http://localhost/Plataforma-PCLJ/php/uploads/trabalhos/animacao/professor.html"></iframe> -->
                </div>
            </div>
        </a>
    </div>

</div>