<!-- <iframe class="embed-responsive-item" allowfullscreen
    src="http://localhost/Plataforma-PCLJ/php/uploads/trabalhos/animacao/result/index.html"></iframe> -->

<div class="background" *ngIf="trabalho">
    <div class="titulo">
        <div class="button-trabalho" [ngStyle]="{'background-color': trabalho.cor}">
            {{trabalho.nome}}
        </div>
    </div>

    <div class="descricao">{{trabalho.descricao}}</div>

    <div class="row" style="margin-top: 10px;">
        <div *ngFor="let item of trabalho.alunos">
            <div class="center col-sm-12 col-md-6 col-lg-4">
                <a class="aluno" [routerLink]="['/aluno',item.id]">
                    <img [src]="montaUrlAvatar(item.id)" height="50px" />
                    <span>{{item.nome}}</span>
                </a>
                <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
                    <iframe class="embed-responsive-item" allowfullscreen [src]="item.url"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>