<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="center">
      <img src="assets/images/avatar.png" height="150px" />
    </div>
    <b class="center">
      {{appSession.getShownLoginName()}}
    </b>
    <!-- <span class="center" style="font-size: 12px;">
      Professor
    </span> -->

    <mat-nav-list>
      <mat-divider></mat-divider>

      <a mat-list-item routerLinkActive="menu-ativo" routerLink="home">Home</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="change-avatar">Alterar Avatar</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="projetos">Projetos</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="dashboard">Trabalhos</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="usuarios">Usuários</a>

      <a mat-list-item routerLinkActive="menu-ativo" routerLink="dashboard">Dashboard</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="table">Table</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="drag-drop">Drag and Drop</a>
      <a mat-list-item routerLinkActive="menu-ativo" routerLink="address-form">Address form</a>

      <a mat-list-item routerLink="/">Sair</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Área do aluno</span>
    </mat-toolbar>

    <div class="container-fluid" style="padding-top: 10px;">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>