<form *ngIf="active" [formGroup]="usuarioForm" novalidate (ngSubmit)="save3()">
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <span *ngIf="!editing">Criando usuário</span>
            <span *ngIf="editing">Editando usuário</span>
        </h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="center">
            <avatar [options]="avatar"></avatar>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field>
                    <input matInput placeholder="Nome" formControlName="nome" required>
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field>
                    <input matInput placeholder="Senha" formControlName="senha" required>
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field>
                    <input matInput placeholder="Usuário" formControlName="usuario" required>
                    <mat-error>Campo Obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="tipo">
                        <mat-option [value]="1">Administrador</mat-option>
                        <mat-option [value]="2">Professor</mat-option>
                        <mat-option [value]="3">Aluno</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button mat-raised-button color="accent" type="button" (click)="generateRandom()">
            Gerar Avatar Aleatório
        </button>
        <button mat-raised-button type="button" (click)="bsModalRef.hide()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
</form>