<div *ngIf="aluno">
    <div class="center">
        <div class="header col-sm-4 col-md-3 col-lg-2">
            <img [src]="montaUrlAvatar(aluno.id)" height="250px" />
            <span>{{aluno.nome}}</span>
        </div>
    </div>
    <mat-tab-group>
        <!-- <mat-tab label="Projeto de vida">
            <div class="center">
                <img src="assets/images/vazio.png" class="vazio" />
                As informações sobre o projeto de vida deste aluno ainda não foram atualizadas...
            </div>
        </mat-tab> -->
        <mat-tab label="Trabalhos">
            <div class="center" *ngIf="trabalhos.length == 0">
                <img src="assets/images/vazio.png" class="vazio" />
                Os trabalhos deste aluno ainda não foram postados pelo professor...
            </div>
            
            <div class="row" style="margin-top: 150px;" *ngIf="trabalhos.length > 0">
                <div *ngFor="let item of trabalhos">
                    <div class="center col-sm-12 col-md-6 col-lg-4">
                        <div class="embed-responsive embed-responsive-4by3" style="width: 100%;">
                            <iframe class="embed-responsive-item" allowfullscreen [src]="item"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Projetos pessoais">
            <div class="center">
                <img src="assets/images/vazio.png" class="vazio" />
                Este aluno ainda não possui projetos pessoais...
            </div>
        </mat-tab> -->
    </mat-tab-group>
</div>